/*-------------------------------------------------*/
/*-------------- GENERAL SETUP --------------------*/
/*-------------------------------------------------*/


html,
body {
    background-color: #fff;
    font-family: 'Encode Sans Expanded', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    color:#1a5060;
}

.row {
    max-width:auto;
    margin: 0, auto;
}

/*-------------------------------------------------*/
/*-------------------TEXTS-------------------------*/
/*-------------------------------------------------*/


h1,
h2,
h3 {
    font-weight: 500;
    text-transform: uppercase;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.hero-text-box h1 {
    font-weight: 500;
    text-transform: uppercase;
    font-style: italic;
    font-size: 400%;
    word-spacing: 5px;
    letter-spacing: 1.5px;
    color:#1a5060;
    text-shadow: 4px 4px 5px #cec085;
    margin-bottom: 40px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #b5aa7b;
    content: " ";
    width: 200px;
    margin: 30px auto;
}

/*-------------------------------------------------*/
/*--------------------HEADER-----------------------*/
/*-------------------------------------------------*/


header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.45)), url(img/IMG_7946_Painting_oil_overlay70.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.hero-text-box {
    position: absolute;
    width: 60%;
    top: 30%;
    left: 35%;
    text-align: center;
}

.logo {
    height: 100px;
    width: auto;
}

/*-------------------------------------------------*/
/*--------------HEADER // NAVIGATION --------------*/
/*-------------------------------------------------*/

/*---main navigation---*/

.main-nav {
    float: left;
    margin-top: 2%;
    margin-left: 2%;
    list-style: none;
    font-size: 90%;
}

.main-nav li {
    margin-bottom: 30%;   
}

.main-nav li:first-child {
    margin-bottom: 80%;
    text-align: center;
}

.main-nav li:nth-of-type(2) {
    visibility: hidden;
}

.main-nav li a:link, 
.main-nav li a:visited {
    padding: 5px 0;
    color:#cec085;
    text-decoration: none;
    font-size: 115%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}


.main-nav li a:hover, 
.main-nav li a:active {
   border-bottom: 2px solid #1a5060;
}


/*-------------------------------------------------*/
/*-------------------BUTTONS-----------------------*/
/*-------------------------------------------------*/

.btn,
.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    outline: none;
}

.btn-full,
.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: #b5aa7b;
    color: #ffffff;
    border: 1px solid #b5aa7b;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #b5aa7b;
    color: #b5aa7b;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #cec085;
    outline: none;
}

.btn-full:hover,
.btn-full:active,
input[type=submit]:hover,
input[type=submit]:active {
    border: 1px solid #cec085;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #cec085;
    color: #ffffff;
}

.gallery-button {
    text-align: center;
    margin-top: 1%;
}


/*-------------------------------------------------*/
/*-------------------SECTION-----------------------*/
/*-------------------------------------------------*/


section {
    margin-top: 30px;
}

section p {
    text-align: justify;
}

.arrow {
    margin-top: 3px;
    font-size: 150%;
}
 
.section-technical p {
    margin: 0 auto;
}

/*-------------------------------------------------*/
/*-------------------CONTAINER---------------------*/
/*-------------------------------------------------*/


.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}


/*-------------------------------------------------*/
/*-------------------GALLERY-----------------------*/
/*-------------------------------------------------*/


.section-gallery img {
    max-height: auto;
    max-width: 100%;
    object-fit:cover;
    border: 1px solid black; 
}


